body {
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
}

.contenedor {
    width: 700px;
    margin: 30px auto;
    background-color: #f5f5f5;
    border: 1px solid #999;
    
}

.header {  
    background-color: #2f5d8a;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;  
}
.derecha {
   margin-right: 450px;
}
div h1 {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 8px;
    margin: auto;
}
h2 {
    text-align: center;
    background-color: #3f78a8;
    color: white;
    margin: 0;
    padding: 8px;
}

.formulario {
    color: #14578d;
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 8px;
    padding: 15px;
}

input, select, textarea {
    padding: 5px;
    border: 1px solid #999;
}

textarea {
    grid-column: span 2;
    background-color: #fff8c6;
    height: 60px;
}


.tabla-contenedor {
    padding: 0 15px 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffcc;
    font-size: 14px;
}

th, td {
    border: 1px solid #999;
    padding: 5;
}

th {
    background: #2f5d8a;
    color: white;
}

.botones {
    text-align: center;
    padding-bottom: 15px;
}

button {
    padding: 6px 8px;
    margin: 4px;
    border: 2px #001424 outset;
    background: #163f61;
    color: white;
    cursor: pointer;

}

